.product {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 5%;
    flex-direction: column-reverse;
    height: auto;
}

.product__details {
    width: 90%;
    padding: 1rem;
}

.product__title {
    font-size: 2rem;
}

.product__description {
    margin: 1rem 0;
    color: #565555;
    line-height: 1.25rem;
    font-size: 1rem;
}

.product__price {
    margin: 1rem 0;
    font-size: 1.9rem;
    font-weight: bolder;
}

.product__image {
    width: 100%;
    padding: 1rem 0;
    position: relative;
}

.product__image img {
    width: 100%;
    border-radius: 20px;
    height: 50vh;
    object-fit: contain;
}

@media only screen and (min-width: 600px) {
    .product {
        height: 100%;
        flex-direction: row;
    }

    .product__image {
        width: 58%;
    }

    .product__image img {
        width: 100%;
        border-radius: 20px;
        height: 100%;
        object-fit: contain;
    }

    .product__details {
        width: 40%;
        padding: 2.9rem 2.2rem;
    }
}
